.column {
  display: inline-block;
  width: 250px;
  margin-right: 10px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  padding: 0 8px;
  background-color: rgb(235, 236, 240);
}

.title {
  margin: 10px 0px;
}